.timeTable {
    display: grid;
    grid-template-columns: 8vw repeat(7, 1fr);
    grid-column-gap: 0;
    margin: 1rem;
    border: 1px solid $color-border;

    @media only screen and(max-width: $break-point){
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem;
        border: none;
    }
}

.daySlots {
    @media only screen and(max-width: $break-point){
        background-color: #f1f1f1;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 3px 4px 7px 1px rgba(0, 0, 0, 0.14);
    }
    font-family: 'Raleway';
    &__days,
    &__daySlot {
        height: $slot-height;
        border: 1px solid $color-border;
        @media only screen and (max-width: $break-point){
            border: none;
        }
    }
    &__days{
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .85rem;
        @media only screen and (max-width: $break-point){
            font-size: 1rem;
            box-shadow: none;
            justify-content: flex-start;
        }
    }
    &__daySlot {
        cursor: pointer;
        font-size: .9rem;

        display: block;
        @media only screen and (max-width: $break-point){
            display: none;
        }
    }

    &__monday{background-color: $color-red}
    &__tuesday{background-color: $color-yellow}
    &__wednesday{background-color: $color-orange}
    &__thursday{background-color: $color-green}
    &__friday{background-color: $color-blue}
    &__saturday{background-color: $color-purple}
    &__sunday{background-color: $color-skyBlue}

    &__colored {
        border: none;
        border-left: 1px solid $color-border;
        border-right: 1px solid $color-border;
        cursor: pointer;

        &--radiusTop {
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
            display: block;
        }
        &--radiusBottom {
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            display: block;
            @media only screen and (max-width: $break-point){
                margin-bottom: 10px;
            }
        }
        &--radiusFull {
            display: block;
            border-radius: 8px;
            @media only screen and (max-width: $break-point){
                margin-bottom: 10px;
                min-height: 65px;
            }
        }
    }

    &__contents {
        & > :first-child {
            width: 100%;
            background-color: #ffffff40;
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
            padding: 4px;
            font-size: .8rem;
            max-height: 30px;
        }
        & > :nth-child(2){
            padding: 5px;
        }
    }

}


.dayTimes {
    @media only screen and (max-width: $break-point){
        display: none;
    }
    &__dayTime {
        height: $slot-height;
        text-align: right;
        padding-right: 10px;
        border-right: 1px solid $color-border;
        & span {
            position: relative;
            top: -5px;
            color: $font-color-light;
        }
    }
}
.time {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.add-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;

    fill: #FF4743;
    width: 80px;
    height: 80px;
    cursor: pointer;
    &:hover{
        fill: #FF0900;
    }
}